@media print {
  body * {
    visibility: hidden;
  }
  table{
    width:100%;
  }
  #printableArea, #printableArea * {
    visibility: visible;
  }
  #printableArea {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-top: -140px;
  }
  #hideOnPrint, #hideOnPrint * {
    visibility: hidden;
  }
  .showOnPrint {
  	visibility: visible;
  }

  .courseAssessment, .courseAssessment2, .remarks {
	margin-top: 0px !important;
  }

  .gradePrint {
	margin-top: 0px !important;
  }

  .gradeHeader{
  	margin-top: 20px !important;
  }

  #displayNoneOnPrint, #displayNoneOnPrint * {
    display: none;
  }

}

.showOnPrint {
	visibility: hidden;
}

.courseAssessment {
	margin-top: -150px;
}

.courseAssessment2 {
  margin-top: -130px;
}

.gradePrint {
	margin-top: -180px;
}

.remarks {
  margin-top: -150px;
}

.torMargin {
  margin-top: -85px;
}